.DS_Store
.idea/
cmake-build-debug/
cmake-build-release/
profiler_data/

thirdparty/cereal
thirdparty/ceres
thirdparty/easy_profiler
thirdparty/eigen
thirdparty/gtest
thirdparty/imgui
thirdparty/opencv
thirdparty/pangolin
thirdparty/spdlog

test_profile.prof